* {
    box-sizing: border-box;
    margin: 0px !important;
    padding: 0px !important;
    text-align:start;
}
.preparation {
    background-color: hsl(30, 54%, 90%);
    border-radius: 1em;
    text-justify:newspaper;
}

.preparation h5 {
    color: hsl(332, 51%, 32%);
}

.ingredients h5, .instructions h5, .nutrition h5 {
    color: hsl(14, 45%, 36%);
    font-size: 2rem;
}

.ingredients ul {
    font-size: 1rem;
}

.instructions h5 {
    color: hsl(14, 45%, 36%);
    font-size: 2rem;
}

.nutrition table tr td:nth-child(2) {
    color: hsl(14, 45%, 36%);
}

@media screen and (min-width: 768px) {
    .top1 {
        background-color: hsl(30, 54%, 90%);
    }

    .image {
        border-radius: 1rem;
    }

    .top2 {
        padding: 2rem;
        margin: 2rem;
        border-radius: 1rem;
        background-color: white;
    }

}